body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    color: orange;
    font-size: 40px;
}

.info{
    text-align: center;
    color: orange;
}

.text{
    text-align: center;
    font-size: 300%;
}

.prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
}

.produktet{
    width: 400px;
    height: 300px;
    margin: 50px;
    border:1px solid #ddd;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.titulli{
    text-align: center;
    font-size: 150%;
}

.prod > div {
    flex: 0 0 48%;
}
.footer{
    text-align: center;
    justify-content: center;
}
.Lokacioni{
    text-align: center;

}